.container {
    font-family: 'Open Sans', sans-serif;
}

.header {
    margin-bottom: 0.5rem;
    text-align: center;
    span {
        text-transform: capitalize;
    }
}

#question {
    margin-bottom: 16px;
    text-align: center;
}

.wrong {
    color: rgb(255, 0, 0);
}

.right {
    color: rgb(10, 231, 10);
}

.result {
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

select {
    height: 60px;
    width: 220px;
    max-width: 220px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
    padding-left: 10px;
    background: white;
}

.input__flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 760px) {
    .container {
        padding: 0 12px 0 12px;
    }
    .input__flex {
        flex-direction: column;
        > select {
            margin-right: auto !important;
            margin-bottom: 12px;
        }
        > .submit__btn {
            margin-left: auto !important;
        }
    }
}

.submit__btn {
    height: 60px;
    width: 200px;
    display: block;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 102px;
    background: white;
    outline: none;
    cursor: pointer;
    margin-left: 10px;
}

.submit__btn:focus {
    outline: none;
}

.submit__btn:disabled {
    opacity: 0.6;
}

.score__container {
    margin-bottom: 20px;
    text-align: center;
}

.score {
    font-size: 60px;
    color: white;
}

.start__btn {
    height: 45px;
    width: 150px;
    margin-top: 20px;
}

.share__container {
    margin: auto;
    margin-top: 22px;

    > .share__link {
        text-decoration: underline;
        text-decoration-color: white;
        color: white;
    }
}

.time {
    width: 95%;
    margin-bottom: 2rem;

    > div {
        width: 100%;
        height: 10px;
        border-radius: 102px;
        font-size: 18px;
        border: 1px solid white;
        background: white;
        transition: all 2s;
    }
}