/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --background: #520f79;
    --foreground: #fff
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'ZukaDoodle';
    src: url('./assets/fonts/Zuka\ Doodle.ttf')
}

@font-face {
    font-family: 'ZukaDoodleItalic';
    src: url('./assets/fonts/Zuka\ Doodle\ Italic.ttf')
}

body {
    background: var(--background);
    color: var(--foreground);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.start__btn {
    height: 60px;
    width: 200px;
    display: block;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: var(--background);
    font-size: 22px;
    border: none;
    border-radius: 102px;
    box-shadow: 0px 0px 5px 1px #a1a1a1;
    outline: none;
    cursor: pointer;
}